In [7]:
import pandas as pd
a=pd.read_csv(r"C:\Users\rohan\Downloads\file 1 updated.csv")
print(a.head(4))

    Make           Model   Type Origin DriveTrain      MSRP   Invoice  \
0  Acura             MDX    SUV   Asia        All  $36,945   $33,337
1  Acura  RSX Type S 2dr  Sedan   Asia      Front  $23,820   $21,761
2  Acura         TSX 4dr  Sedan   Asia      Front  $26,990   $24,647
3  Acura          TL 4dr  Sedan   Asia      Front  $33,195   $30,299

   EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  \
0         3.5        6.0         265        17           23    4451
1         2.0        4.0         200        24           31    2778
2         2.4        4.0         200        22           29    3230
3         3.2        6.0         270        20           28    3575

   Wheelbase  Length
0        106     189
1        101     172
2        105     183
3        108     186

In [15]:
a.shape

(428, 15)

# Q. 1) Instruction ( For Data Cleaning ) - Find all Null Values in the dataset. If there is any null value in any column, then fill it with the mean of that column.

In [12]:
import pandas as pd
a=pd.read_csv(r"C:\Users\rohan\Downloads\file 1 updated.csv")
a.count()

Make           428
Model          428
Type           428
Origin         428
DriveTrain     428
MSRP           428
Invoice        428
EngineSize     428
Cylinders      426
Horsepower     428
MPG_City       428
MPG_Highway    428
Weight         428
Wheelbase      428
Length         428
dtype: int64

In [34]:
a.isnull().sum()

Make             0
Model            0
Type             0
Origin           0
DriveTrain       0
MSRP             0
Invoice          0
EngineSize       0
Cylinders      428
Horsepower       0
MPG_City         0
MPG_Highway      0
Weight           0
Wheelbase        0
Length           0
dtype: int64

In [33]:
a.notnull().sum()

Make           428
Model          428
Type           428
Origin         428
DriveTrain     428
MSRP           428
Invoice        428
EngineSize     428
Cylinders        0
Horsepower     428
MPG_City       428
MPG_Highway    428
Weight         428
Wheelbase      428
Length         428
dtype: int64

In [30]:

a["Cylinders"].fillna(a["Cylinders"].mean(),inplace=True)

In [21]:
a

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,None,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,None,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,None,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,None,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,None,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,None,197,21,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,None,242,20,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,None,268,19,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,None,170,22,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,None,208,20,27,3823,109,186

In [32]:
a.isnull().sum()

Make             0
Model            0
Type             0
Origin           0
DriveTrain       0
MSRP             0
Invoice          0
EngineSize       0
Cylinders      428
Horsepower       0
MPG_City         0
MPG_Highway      0
Weight           0
Wheelbase        0
Length           0
dtype: int64

# Q. 2) Question ( Based on Value Counts )- Check what are the different types of Make are there in our dataset. And, what is the count (occurrence) of each Make in the data ?

In [42]:
import pandas as pd
d=a["Make"].value_counts()
e=a[a["Make"]=="BMW"]
e

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
26,BMW,X3 3.0i,SUV,Europe,All,"$37,000","$33,873",3.0,NaN,225,16,23,4023,110,180
27,BMW,X5 4.4i,SUV,Europe,All,"$52,195","$47,720",4.4,NaN,325,16,22,4824,111,184
28,BMW,325i 4dr,Sedan,Europe,Rear,"$28,495","$26,155",2.5,NaN,184,20,29,3219,107,176
29,BMW,325Ci 2dr,Sedan,Europe,Rear,"$30,795","$28,245",2.5,NaN,184,20,29,3197,107,177
30,BMW,325Ci convertible 2dr,Sedan,Europe,Rear,"$37,995","$34,800",2.5,NaN,184,19,27,3560,107,177
31,BMW,325xi 4dr,Sedan,Europe,All,"$30,245","$27,745",2.5,NaN,184,19,27,3461,107,176
32,BMW,330i 4dr,Sedan,Europe,Rear,"$35,495","$32,525",3.0,NaN,225,20,30,3285,107,176
33,BMW,330Ci 2dr,Sedan,Europe,Rear,"$36,995","$33,890",3.0,NaN,225,20,30,3285,107,176
34,BMW,330xi 4dr,Sedan,Europe,All,"$37,245","$34,115",3.0,NaN,225,20,29,3483,107,176
35,BMW,525i 4dr,Sedan,Europe,Rear,"$39,995","$36,620",2.5,NaN,184,19,28,3428,114,191
36,BMW,330Ci convertible 2dr,Sedan,Europe,Rear,"$44,295","$40,530",3.0,NaN,225,19,28,3616,107,177
37,BMW,530i 4dr,Sedan,Europe,Rear,"$44,995","$41,170",3.0,NaN,225,20,30,3472,114,191
38,BMW,545iA 4dr,Sedan,Europe,Rear,"$54,995","$50,270",4.4,NaN,325,18,26,3814,114,191
39,BMW,745i 4dr,Sedan,Europe,Rear,"$69,195","$63,190",4.4,NaN,325,18,26,4376,118,198
40,BMW,745Li 4dr,Sedan,Europe,Rear,"$73,195","$66,830",4.4,NaN,325,18,26,4464,123,204
41,BMW,M3 coupe 2dr,Sports,Europe,Rear,"$48,195","$44,170",3.2,NaN,333,16,24,3415,108,177
42,BMW,M3 convertible 2dr,Sports,Europe,Rear,"$56,595","$51,815",3.2,NaN,333,16,23,3781,108,177
43,BMW,Z4 convertible 2.5i 2dr,Sports,Europe,Rear,"$33,895","$31,065",2.5,NaN,184,20,28,2932,98,161
44,BMW,Z4 convertible 3.0i 2dr,Sports,Europe,Rear,"$41,045","$37,575",3.0,NaN,225,21,29,2998,98,161
45,BMW,325xi Sport,Wagon,Europe,All,"$32,845","$30,110",2.5,NaN,184,19,26,3594,107,176

# Q. 3) Instruction ( Filtering ) - Show all the records where Origin is Asia or Europe.

In [47]:
import pandas as pd
a[a["Origin"].isin(["Asia","Europe"])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,NaN,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,NaN,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,NaN,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,NaN,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,NaN,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,NaN,197,21,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,NaN,242,20,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,NaN,268,19,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,NaN,170,22,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,NaN,208,20,27,3823,109,186

# Q. 4) Instruction ( Removing unwanted records ) - Remove all the records (rows) where Weight is above 4000.

# Q. 5) Instruction ( Applying function on a column ) - Increase all the values of 'MPG_City' column by 3.

In [54]:
import pandas as pd
a["MPG_City"]=a["MPG_City"].apply(lambda x:x+3)
a

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,NaN,265,20,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,NaN,200,27,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,NaN,200,25,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,NaN,270,23,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,NaN,225,21,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,NaN,197,24,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,NaN,242,23,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,NaN,268,22,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,NaN,170,25,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,NaN,208,23,27,3823,109,186